<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuizManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuizManager.styles.css" asp-append-version="true" />
</head>
<style>
table{
    height: 100%;
}
th, td {
  padding: 15px;
}
th:hover, td:hover{
  padding: 15px;
}
.NavButton {
    width: 120%;
    background-color:#006a97;
}
.NavButton:hover {
  background-color:#003e59!important;
}
.Empty {
    width: 120%;
    background-color:#006a97;
}
.hide {
  visibility: hidden;
  border: none;
}
.text {
    padding: 40%;
    justify-content: center;
    display: flex;
    font-weight: bold;
}
.textdouble {
    padding: 25%;
    justify-content: center;
    display: flex;
    font-weight: bold;
}
</style>
<body>    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#00a2e8;">
            <div class="container">
                <a class="navbar-brand" id="Logo" asp-area="" asp-page="/Index">QuizManager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @*<table style="position: absolute; top: 0; bottom: 0; ">
        <tr class="hide" style="height: 5%; font-size: 36px; color:black;">
            <th></th>
        </tr>
        <tr class="NavButton" style="height: 20%; font-size: 36px; color:black;">
            <a href="/CreateQuiz.cshtml"></a>
            <th>Create</th>       
        </tr>
        <a asp-page="/Privacy">
            <tr class="NavButton" style="height: 20%; font-size: 36px; color:black;">
                <th>Join</th>
            </tr>
        </a>
        <tr class="NavButton" style="height: 20%; font-size: 36px; color:black;">
            <th>Manage<br>Class</th>
        </tr>
        <tr class="NavButton" style="height: 20%; font-size: 36px; color:black;">
            <th>Settings</th>
        </tr>
        <tr class="Empty" style="height: 10%; font-size: 36px; color:black;">
            <th></th>
        </tr>
    </table>*@

    <div style="position: absolute; top: 0; bottom: 0; ">
        <div class="hide" style="height: 5%; font-size: 36px; color:black;">
            <div></div>
        </div>
        <a asp-page="/CreateQuiz">
            <div class="NavButton" style="height: 20%; font-size: 36px; color:black;">
                <div class="text">Create</div>
            </div>
        </a>
        <a asp-page="/Index">
            <div class="NavButton" style="height: 20%; font-size: 36px; color:black;">
                <div class="text">Join</div>
            </div>
        </a>
        <div class="NavButton" style="height: 20%; font-size: 36px; color:black;">
            <div class="textdouble">Manage<br>Class</div>
        </div>
        <div class="NavButton" style="height: 20%; font-size: 36px; color:black;">
            <div class="text">Settings</div>
        </div>
        <div class="Empty" style="height: 10%; font-size: 36px; color:black;">
            <div></div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:#00a2e8">
        <div class="container">
            &copy; 2022 - QuizManager - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>