<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuizManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuizManager.styles.css" asp-append-version="true" />
</head>
<style>
table{
    height: 100%;
}
th, td {
  padding: 15px;
  background-color: #0069ff;
}
</style>
<body>    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#00a2e8;">
            <div class="container">
                <a class="navbar-brand" id="Logo" asp-area="" asp-page="/Index">QuizManager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <table style="position: absolute; top: 0; bottom: 0; ">
        <tr style="height: 10%; font-size: 36px;">
            <th></th>
        </tr>
        <tr style="height: 20%; font-size: 36px;">
            <th>Create</th>
        </tr>
        <tr style="height: 20%; font-size: 36px;">
            <th>Join</th>
        </tr>
        <tr style="height: 20%; font-size: 36px;">
            <th>Manage<br>Class</th>
        </tr>
        <tr style="height: 20%; font-size: 36px;">
            <th>Settings</th>
        </tr>
        <tr style="height: 10%; font-size: 36px;">
            <th></th>
        </tr>
    </table>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:#00a2e8">
        <div class="container">
            &copy; 2022 - QuizManager - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>